<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tvz.zavrsni.eimenik">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application android:name="tvz.zavrsni.eimenik.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />

        <activity
        android:name=".GradesActivity"
        android:label="@string/grades_activity" >

    </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:label="@string/chang_pass_activity" >

        </activity>

        <activity
            android:name=".RecoverPasswordActivity"
            android:label="@string/rec_pass_activity" >

        </activity>

        <receiver
            android:name=".receiver.AlarmReceiver"></receiver>
    </application>

</manifest>
